html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWVwN3hrbDJ6b2gzdG1naWhwaWlscThzcTAxMW0ydzl1ZWlxb3E2MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KGTVzjIt4kahjIK9Vs/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  min-height: 100vh;
  padding-bottom: 64px; /* Altura del footer */
  box-sizing: border-box;
}
